[submodule "externos/errores--"]
	path = externos/errores--
	url = https://github.com/Hernanatn/errores--
[submodule "externos/raylib"]
	path = externos/raylib
	url = https://github.com/raysan5/raylib
[submodule "externos/raygui"]
	path = externos/raygui
	url = https://github.com/raysan5/raygui
[submodule "externos/arenas++"]
	path = externos/arenas++
	url = http://github.com/hernanatn/arenas.git
